.button{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin: 1px;
    margin: 6px;
    font-size: 30px;
}

.number{
    background-color: #f1f3f4;
}
.operator{
    background-color: #dadce0;
}

.ans{
    background-color: #4285f4;
    color: white;
}

.clear{
    background-color: #d93025;
}

#txtNumeros{
    height: 70px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 40px;
    width: 460px;
}

#contenedorBotonera{
    margin-left: 0px;
}