body{
    background-color:black;
}
#container{
    background: url('img/background2.jpg');
    width:910px;
    height:600px;
}
#hero{
    background: url('img/1942.gif');
    background-position: -85px -180px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy1{
    background: url('img/1942.gif');
    background-position: -30px -10px;
    width:28px;
    height:20px;
    position:absolute;
}
.enemy2{
    background: url('img/1942.gif');
    background-position: -124px -10px;
    width: 24px;
    height: 20px;
    position: absolute;
}
.explosion{
    background: url('img/1942.gif');
    background-position: -112px -39px;
    width: 24px;
    height: 20px;
    position: absolute;
}
.bullet{
    background: url('img/1942.gif');
    background-position: -185px -400px;
    width:18px;
    height:18px;
    position:absolute;
}
#score{
    position:absolute;
    border:10px solid red;
    top:20px;
    left:800px;
    background-color:white;
    padding:10px;
    font-size:30px;
    font-family: Arial;	
}