#main{
    background-color: #d5d2ae;
    padding: 20px;
    width: 636px;
}
    #header{
        margin: 0px 0px 10px 0px;
        text-align: center;
    }
    .img-title{
        display: inline;
        width: 80px;
        height: 50px;
    }
    #main h1{
        display: inline;
    }
    .content-blue{
        display: inline-block;
        width: 120px;
        height: 120px;
        border: 2px solid black;
        background-color: #82b4ee;
    }
    .content-red{
        display: inline-block;
        width: 120px;
        height: 120px;
        border: 2px solid black;
        background-color:#f36870;
    }
    .img-content{
        width: 100px;
        height: 100px;
        margin: 11px;
    }
    #oktobercat{
        background-color: #ffffff;
    }