*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.white{
    padding: 10px;
}
.green{
    background-color: green;
    height: 150px;
    margin-bottom: 16px;
}
.blue{
    background-color: blue;
    height: 300px;
    margin-right: 14px;
}
.red{
    background-color: red;
    padding: 16px;
}
.yellow{
    background-color: yellow;
    height: 175px;
}
.purple{
    background-color: purple;
    height: 125px;
    margin: 16px 0px 0px 0px;
}
@media only screen and (max-width: 480px){
    .sm-0{
        display: none;
    }
    .sm-4{
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 1023px){
    .med-0{
        display: none;
    }
    .med-2{
        width: 48%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
    }
    .med-4{
        width: 100%;
    }
}
@media only screen and (min-width: 1024px){
    .lg-1{
        width: 24%;
        display: inline-block;
    }
    .lg-1third{
        width: 31.5%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
    }
    .lg-3{
        width: 74.2%;
        display: inline-block;
        vertical-align: top;
    }
    .lg-4{
        width: 100%;
        
    }
}