*{
    margin: 0;
    padding: 0;
}
#title{
    background-color: #b3b3b3;
    padding: 10px;
    margin: 10px;
    border: 1px solid silver;
}
    #title p{
        font-size: 24px;
    }
#content{
    background-color: #cccccc;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border: 1px solid silver;
}
#advice{
    background-color: #ffff9a;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border: 1px solid silver;
}
.general{
    font-family: sans-serif;
    width: auto;
}
.span-bold{
    font-weight: bold;
}    
@media only screen and (max-width: 480px){
    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
    .phone{
        display: block;
    }
}
@media only screen and (min-width: 481px){
    .desktop{
        display: none;
    }
    .tablet{
        display: block;
    }
    .phone{
        display: none;
    }
}
@media only screen and (min-width: 1024px){
    .desktop{
        display: block;
    }
    .tablet{
        display: none;
    }
    .phone{
        display: none;
    }
}